/* Defaults **************************************************/
* {
    box-sizing: border-box;
  }

html{
    font-family: 'Poppins',sans-serif;
    color: rgb(58, 58, 58);
}

body{
    margin: 0;
}

h1{
    font-size: 44px;
    text-align: center;
}



/* Structure **************************************************/

.wrapper{
    height: 90vh;
}

.header{
    height: 80px;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
}





/* Form **************************************************/
/* 
.input {
    font-size: 16px;
    font-size: max(16px, 1em);    
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: none;
    border-radius: 4px;
  }

input:focus{
    outline:rgb(3, 73, 204); 
    box-shadow: 0 0 5px 3px rgb(3, 73, 204,0.6);
} 

.fname, .lname, .e-mail, .phnumber{
    width: 300px;
    margin-left: 20px;
}

.form-input{
    margin: 40px;
    font-weight: 500;
    font-size: 18px;
}

.correction{
    margin-left: 20px;
}

.r-btn{
    margin-left: 20px;
    height: 17px;
    width: 17px;
}

.submit-btn{
    background-color: rgb(3, 73, 204);    
    color: rgb(39, 38, 38);
}

.btn{
    margin: 5px 10px;
    padding: 10px 15px;
    font-weight: 600;
    box-shadow: 0 8px 8px -4px rgba(58, 104, 255, 0.9);
}



  */